/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

/* Estilos da Tabela */
table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
